body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-filed
{
  padding: 5px;
}

.fc-prev-button
{
  border-radius: 50% !important;
  margin-right: 27px !important;

}

.fc-next-button
{
  border-radius: 50% !important;
  margin-left: 27px !important;


}


.fc-toolbar-chunk div:first-child
{

  display: flex;
}

.label1
{
  
  display: flex;
  

}

.main-div
{
  margin-top: 82px;
}

.line1
{
  margin-bottom: 22px;
}

.search-bar
{
    position: relative;
    bottom: 23px;
    width: 265px;
    height: 21px;
  
}